/* CSS for Menu Page */

/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Ensures full background coverage */
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Background styling */
body{
    background-image: url(/media/space-background.png);
    background-position: top;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Main content container*/
main{
    display: flex;
    flex-direction: column;
}
/* Main heading styling and animation */
.welcome_back_message{
    margin-left: 5%;
    font-size: 1.7em;
    color: #EBE9C3;
    margin-top: 1%;
    position: relative;
    animation-name: message;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.heading_para{
    font-size: .8em;
    margin-right: 10%;
}
/* Animations for heading and 5 menu selections fading in every 1s */
.menu_heading{
    color: #EBE9C3;
    animation: fadeIn 1s;
}
.numeracy_heading{
    animation: fadeIn 2s;
}
.literacy_heading{
    animation: fadeIn 3s;
}
.history_heading{
    animation: fadeIn 4s;
}
.social_heading{
    animation: fadeIn 5s;
}
.wellbeing_heading{
    animation: fadeIn 6s;
}
.progress_heading{
    animation: fadeIn 7s;
    margin-bottom: 10%;
    background-color: brown;
    color:#EBE9C3;
}
/* Margin below last quiz heading */
#wellbeingPassed{
    margin-bottom: 5%;
}
/* Styling for passed box below quiz headings */
.passedMessage{
    background-color: green;
}
/* Styling and animation for date and time display */
.starDate{
    color: black;
    width: 50%;
    background-color: #EBE9C3;
    border: brown solid 5px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 1%;
    font-size: .4em;
    animation: fadeIn 3s;
    
}
/* Top div which becomes left div for larger devices */
.top{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35vh;
    display: flex;
}
/* Bottom div which becomes right div for larger devices */
.bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: center;
    
}
/* Astronaut image sizing and position */
.astro{
    width: 40%;
    margin-right: -10%;
}
/* Alt astronaut when allPassed */
.partyAstro{
    width: 40%;
}
/* Alt button when allPassed */
.passedButton{
    background-color: greenyellow;
    font-size: 1em;
    padding: 3%;
    margin-top: 5%;

}
/* Styling for quiz menu */
ul{
    list-style: none;
    text-align: center;
    width: 60%;
}
li{
    color: black;
    padding: 3%;
    background-color: #EBE9C3;
    border-radius: 5%;
    margin-top: 10%;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover li{
    background-color: brown;
    color: #EBE9C3;
}
button{
    color: black;
    background-color: white;
    padding: 3%;
    font-size: 0.8em;
    border-radius: 5%;
    cursor: pointer;
}
/* Heading animation */
@keyframes message{
    from{left:50px;}
    to{left:0px}
}
/* Menu animation */
@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}

/* Styling and positioning for speech bubble */
.speech_bubble{
    max-width: 150px; 
    font-size: 1em;
    background: #EBE9C3;
    color: black;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    top: -35%;
    left: -10%;
    padding: 3%;
    
}
/* Styling to apply tail to bubble to replicate speech */
.speech_bubble:before{
    content: "";
    position: absolute;
    bottom: 10px; /* Position the tail below the bubble */
    left: 100%; /* Adjust to position the tail */
    margin-left: -5px;
    width: 0;
    height: 0;
    border-top: 10px solid #EBE9C3;/* Tail color, matching the bubble */
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    transform: rotate(-90deg); /* Rotate the tail -90 degrees */
    transform-origin: center center;
    
}
/* Button within speech bubble */
.bubbleButton{
    margin-top: 5%;
    background-color: greenyellow;
    color:black;
    cursor: pointer;
}
/* Para within speech bubble */
.welcome_txt{
    margin-bottom: 50px;
} 

/* Styling for larger devices */

@media only screen and (min-width: 768px){
    body{
        font-size: 2em;
    }
    #numeracyPassed, #literacyPassed, #historyPassed, #awarenessPassed, #wellbeingPassed{
        height: 5%;
        padding: 2%;
        font-size: 5em;
    }
    .starDate{
        width: 30%;
        margin-right: 11%;
        border: solid red 10px;
        font-size: .7em;
        margin-top: -5%;
    }
    .welcome_back_message h3{
        font-size: 2em;
    }
    .heading_para{
        font-size: 1.5em;
        width: 50%;
    }
   
    section{
        display: flex;
        flex-direction: row;
    }
    .top{
        width: 50%;
        height: 100vh;
        
    }
    .bottom{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 75vh;
        justify-content: start;
        padding-top: 5%;
        
    }
    .welcome_back_message{
        margin-left: 5%;
        font-size: 3em;
        color: #EBE9C3;
        margin-top: 1%;
        
    }
    .menu_heading{
        font-size: 4em;
    }
    a{
        font-size: 2em;
    }
    .astro{
        width: 45%;
    }
    .partyAstro{
        width: 50%;
    }
    .speech_bubble{
        max-width: 600px; 
        font-size: 2em;
        top: -30%;
        left: -5%;
        border-radius: 30px;
    }
    .speech_bubble:before{
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 60px solid #EBE9C3; /* Wider, flatter tail */
        transform: none; 
        margin-left: -10px;
    }
}

