*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: row;
}
.welcome_back_message{
    margin-top: 10%;
    position: relative;
    animation-name: message;
    animation-duration: 1s;
    animation-timing-function: linear;
}
/* Animations for heading and 5 menu selections fading in every 1s */
.menu_heading{
    color: #EBE9C3;
    animation: fadeIn 1s;
}
.numeracy_heading{
    animation: fadeIn 2s;
}
.literacy_heading{
    animation: fadeIn 3s;
}
.history_heading{
    animation: fadeIn 4s;
}
.social_heading{
    animation: fadeIn 5s;
}
.wellbeing_heading{
    animation: fadeIn 6s;
}
section{
    width: 50%;
}
.right_side{
    background-image: url(/media/astronaut2.png);
    width: 100%;
    height: 75vh;
    margin-top: 20%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60% 100%;
}
.left_side{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;

}
li{
    color: black;
    padding: 3%;
    background-color: #EBE9C3;
    border-radius: 5%;
    margin-top: 10%;
}
a{
    text-decoration: none;
}
a:visited{
    color: blue;
    text-decoration: none;
}
a:hover li{
    background-color: brown;
    color: #EBE9C3;
}
button{
    color: black;
    background-color: white;
    padding: 3%;
    font-size: 0.8em;
    border-radius: 5%;
    
}
@keyframes message{
    from{left:50px;}
    to{left:0px}
}
@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}

.speech_bubble{
    max-width: 200px; 
    background: #EBE9C3;
    color: black;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    top: 5%;
    left: 8%;
    padding: 3%;
    font-size: 1.5em;
}

.speech_bubble:before{
    content: "";
    position: absolute;
    bottom: -10px; /* Position the tail below the bubble */
    right: 20px; /* Adjust to position the tail */
    width: 0;
    height: 0;
    border-top: 10px solid #EBE9C3;/* Tail color, matching the bubble */
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    
}
.welcome_txt{
    margin-bottom: 50px;
}

https://www.freepik.com/vectors/cosmonaut