*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: row;
}
.welcome_back_message{
    margin-top: 10%;
    position: relative;
    animation-name: message;
    animation-duration: 1s;
    animation-timing-function: linear;
}
/* Animations for heading and 5 menu selections fading in every 1s */
.menu_heading{
    animation: fadeIn 1s;
}
.numeracy_heading{
    animation: fadeIn 2s;
}
.literacy_heading{
    animation: fadeIn 3s;
}
.history_heading{
    animation: fadeIn 4s;
}
.social_heading{
    animation: fadeIn 5s;
}
.wellbeing_heading{
    animation: fadeIn 6s;
}
section{
    width: 50%;
}
.right_side{
    width: 100%;
    height: 75vh;
    border: solid 5px red;
}
.left_side{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;

}
li{
    
    padding: 3%;
    background-color: green;
    border-radius: 5%;
    margin-top: 10%;
}
@keyframes message{
    from{left:50px;}
    to{left:0px}
}
@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}