* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevents horizontal scrolling */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/media/skylaunchmobile.png') no-repeat center center/cover;
    color: white;
    font-family: Arial, sans-serif;
  }
.astro{
  width: 75%;
  margin-top: 90%;
  transition: transform 15s ease-in-out;
}
.speech_bubble{
  max-width: 200px; 
  font-size: 1em;
  background: #EBE9C3;
  color: black;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  top: 20%;
  left: -15%;
  padding: 3%;
  
}

.speech_bubble:before{
  content: "";
  position: absolute;
  bottom: 10px; /* Position the tail below the bubble */
  left: -8%; /* Adjust to position the tail */
  margin-left: -5px;
  width: 0;
  height: 0;
  border-top: 10px solid #EBE9C3;/* Tail color, matching the bubble */
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(90deg); /* Rotate the tail -90 degrees */
  transform-origin: center center;
  
}

#countdown-container {
    position: absolute;
    top: 30%; /* Position countdown in the center */
    text-align: center;
  }
  
#countdown {
    font-size: 6rem; /* Size of the countdown text */
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
  }
  
#rocket {
    position: absolute;
    bottom: -700px; /* Start rocket below the screen */
    width: 350px; /* Adjust rocket size */
    transition: transform 15s ease-in-out; /* Smooth transition for launch */
  }
  #goodbye{
    opacity: 0; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 24px; 
    color: #fff; 
    text-align: center;
  }

  @media only screen and (min-width: 910px){
    .astro{
      margin-top: 10%;
      width: 40%;
      right: 10%;
      position: absolute;
    }
    #rocket{
      width: 70%;
      bottom: -3200px;
    }
    #countdown{
      font-size: 40rem;
    }
    .speech_bubble{
      font-size: 4em;
      max-width: 700px;
      top: 50%;
      left: 80%;
      position: absolute;
      border-radius: 10%;
    }
    .speech_bubble:before{
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 60px solid #EBE9C3; /* Wider, flatter tail */
      margin-left: -10px;
      transform: rotate(180deg);
      top: 100px;
  }
    #goodbye{
      font-size: 200px;
    }
  }