*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
}
.welcome_back_message{
    margin-left: 5%;
    margin-top: 1%;
    position: relative;
    animation-name: message;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.heading_para{
    font-size: .8em;
    margin-right: 10%;
}
.top{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    display: flex;
    
}
.bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: center;
}
.astro1{
    width: 55%;
    position: absolute;
    top: 250px;
    right: 30px;
}
.quiz_heading{
    color: #EBE9C3;
    animation: fadeIn 1s;
    margin-bottom: 5%;
    margin-top: 10%;;
}

.question_label{
    color: #EBE9C3;
}
input{
    padding: 1%;
    margin: 2%;
    width: 50%;
}
.question{
    color:#EBE9C3
}
@keyframes message{
    from{left:50px;}
    to{left:0px}
}
@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}
.speech_bubble{
    max-width: 100px; 
    background: #EBE9C3;
    color: black;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    top: -10%;
    left: -25%;
    padding: 3%;
    font-size: .7em;
}

.speech_bubble:before{
    content: "";
    position: absolute;
    bottom: 10px; /* Position the tail below the bubble */
    left: 100%; /* Adjust to position the tail */
    margin-left: -5px;
    width: 0;
    height: 0;
    border-top: 10px solid #EBE9C3;/* Tail color, matching the bubble */
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    transform: rotate(-90deg); /* Rotate the tail -90 degrees */
    transform-origin: center center;
    
}
