/* CSS for all quiz pages */

/* 
Author: Alan Robb
Date: 06/05/2025 
*/

/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styling ensuring full  background coverage */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Styling for background ensuring full coverage */
body{
    background-image: url(/media/space-background.png);
    background-position: top;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Main container applying flex */
main{
    display: flex;
    flex-direction: column;
}
/* Styling for main heading */
.welcome_back_message{
    margin-left: 5%;
    font-size: 1.7em;
    color: #EBE9C3;
    margin-top: 1%;
}
/* Main heading paragraph */
.heading_para{
    font-size: .8em;
    margin-right: 10%;
}
/* Styling and animation for date and time */
.starDate{
    color: black;
    width: 50%;
    background-color: #EBE9C3;
    border: brown solid 5px;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 1%;
    font-size: .4em;
    animation: fadeIn 3s;
}
/* Top div which becomes left div on large devices */
.top{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    display: flex;
}
/* Top div for Numeracy Quiz */
.numeracy_top{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    display: flex;
}
/* Top div for Health and Wellbeing Quiz */
.wellbeing_top{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    display: flex;
}
/* Top div for Literacy Quiz */
.literacy_top{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    display: flex;
}
/* Top div for History Quiz */
.history_top{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    display: flex;
}
/* Top div for Social Awareness Quiz */
.awareness_top{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    display: flex;
}
/* Bottom div for Literacy Quiz which becomes right div on larger devices */
.literacy_bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 3s forwards;
}
/* Bottom div for Numeracy Quiz */
.numeracy_bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 3s forwards;
}
/* Bottom div for History Quiz */
.history_bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 3s forwards;
}
/* Bottom div for Health and Wellbeing Quiz */
.wellbeing_bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 3s forwards;
    font-size: 0.8em;
    margin-top: -15%;
}
/* Bottom div for Social Awareness Quiz */
.awareness_bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 3s forwards; 
}
/* Literacy Quiz astronaut */
.literacy_astro{
    width: 60%;
}
/* Numeracy Quiz astronaut */
.numeracy_astro{
    width: 70%;
    margin-right: -10%;
}
/* History Quiz astronaut */
.history_astro{
    width: 70%;
    margin-right: -10%;
}
/* Health and Wellbeing Quiz astronaut */
.wellbeing_astro{
    width: 70%;
    margin-right: -10%;
}
/* Social Awareness Quiz astronaut */
.awareness_astro{
    width: 70%;
    margin-right: -10%;  
}
/* Animation for main heading */
@keyframes message{
    from{left:50px;}
    to{left:0px}
}
/* Fade in for date and time */
@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}
/* Styling for speech bubble */
.speech_bubble{
    max-width: 200px; 
    background: #EBE9C3;
    color: black;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    top: -25%;
    left: 4%;
    padding: 3%;
}
/* Styling for speech bubble tail to recreate speech */
.speech_bubble:before{
    content: "";
    position: absolute;
    bottom: 10px; /* Position the tail below the bubble */
    left: 100%; /* Adjust to position the tail */
    margin-left: -5px;
    width: 0;
    height: 0;
    border-top: 10px solid #EBE9C3;/* Tail color, matching the bubble */
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    transform: rotate(-90deg); /* Rotate the tail -90 degrees */
    transform-origin: center center;
    
}
/* Speech bubble button styling */
.bubbleButton{
    width: 90%;
    font-size: .8em;
    margin-top: 5%;
    background-color: greenyellow;
    color:black;
    cursor: pointer;
    padding: 3%;
}
/* Remove decoration */
a{
    text-decoration: none;
}
/* Remove decoration */
a:visited{
    color:#EBE9C3;
    text-decoration: none;
}
/* Hover effect for hyperlinks */
a:hover {
    background-color: brown;
    color: #EBE9C3;
}



/* START OF QUESTIONS Styling */

/* Styling for quiz content */
.quiz_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h1{
    color:#EBE9C3;
    font-size: 2em;
    padding-bottom: 10%;
}
/* Styling for questions font */
.text_style{
    color:#EBE9C3;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    font-size: 1.7em;
    text-align: center;
}
/* Questions submit button */
.submit_button{
    margin-top: 2%;
    background-color: #EBE9C3;
    font-size: 1.3em;
    cursor: pointer;
    padding: 2%;
    margin-bottom: 2%;
}
/* Questions next button */
.next_button{
    background-color: #EBE9C3;
    font-size: 1.3em;
    cursor: pointer;
    padding: 2%;
    margin-bottom: 2%;
}
/* Return to Menu Page button */
.return_button{
    background-color: brown;
    color:#EBE9C3;
    font-size: 1.3em;
    cursor: pointer;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}
/* Font colour for displayed score */
.score_container{
    color:#EBE9C3;
}
/* Quiz text input styling */
input[type="text"] {
    width: 100%;
    padding: 3%;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
/* Small black border when input box selected */
input[type="text"]:focus {
    border-color: black;
    outline: none;
}


/* LITERACY QUIZ CSS */

#literacy-question {
    opacity: 0;
    animation: fadeIn 1s forwards;
    text-align: center;
    width: 90%;
}
#literacy-options{
    color:#EBE9C3;
    font-size: 1.5em;
}
#literacy-options label{
    width: 100%;
    display: flex;
    gap: 10px;
} 
input[type="radio"] {
    margin-right: 10px;
}

/* HISTORY QUIZ CSS */

#history-question-container {
    opacity: 0;
    animation: fadeIn 1s forwards;
    text-align: center;
    width: 90%;
}
#history-options-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#history-options-container label {
    color:#EBE9C3;
    font-size: 1.5em;
    display:flex; /* Use flexbox to arrange the checkbox and label horizontally */
    gap: 20px; /* Adds space between the checkbox and label */
    padding: 5%;
}
#history-options-container input[type="checkbox"] {
    margin-right: 10%;
    transform: scale(1.5);
}
input[type="checkbox"] {
    margin-right: 10px;
}

/* SOCIAL AWARENESS QUIZ CSS */

.drag-item {
    background-color: brown;
    border:#EBE9C3 solid 3px;
    color:#EBE9C3;
    text-align: center;
    padding: 10px;
    margin: 5px;
    cursor: grab;
    user-select: none;
    touch-action: manipulation;
    touch-action: none;
}
#drag-drop-question{
    width: 80%;
}

#drag-drop-dropzone {
    height: auto; /* Let height grow with content */
    min-height: 150px; /* Set a minimum height instead */
    width: 60%;
    background-color: #EBE9C3;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    font-size: 1em;
    padding: 10px; /* Add padding for breathing room */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-wrap: wrap;
}
#drag-drop-dropzone h3 {
    margin: 0;
    font-size: 1.1em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; /* Allow line breaks */
}


/* HEALTH AND WELLBEING QUIZ CSS */


#health-wellbeing-quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 4%;
}
.dragging {
    opacity: 0.5;
}
#health-wellbeing-question {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
#health-wellbeing-options-container {
    color:#EBE9C3;
    font-size: 1.5em;
}
#health-wellbeing-options-container input[type="checkbox"], input[type="radio"] {
    margin-right: 10%;
    transform: scale(1.5);
}
#health-wellbeing-options-container label {
    color:#EBE9C3;
    font-size: 1.2em; 
    display:flex; 
    gap: 20px; 
}
.draggable-choice{
    background-color: brown;
    border:#EBE9C3 solid 3px;
    color:#EBE9C3;
    text-align: center;
    padding: 10px;
    margin: 5px;
    cursor: grab;
    user-select: none;
    touch-action: none;
}
#health-wellbeing-feedback {
    margin-bottom: 20px;
}

/* MEDIA QUERY FOR LARGER DEVICES */

@media only screen and (min-width: 768px){
    body{
        font-size: 2em;
    }
    .starDate{
        width: 30%;
        margin-right: 11%;
        border: solid red 10px;
        font-size: .7em;
        margin-bottom: 5%;
        margin-top: -10%;
    }
    .awareness_bottom{
        font-size: 1.7em !important;
     }
     .wellbeing_bottom{
        font-size: 1.7em !important;
        margin-top: 0;
     }
    .welcome_back_message h3{
        font-size: 2em;
    }
    .heading_para{
        font-size: 1.5em;
        width: 50%;
    }
    section{
        display: flex;
        flex-direction: row;
    }
    .welcome_back_message{
        margin-left: 5%;
        font-size: 3em;
        color: #EBE9C3;
        margin-top: 1%;
    }
    .menu_heading{
        font-size: 3em;
    }
    a{
        font-size: 2em;
    }
    .speech_bubble{
        max-width: 600px;
        font-size: 2em;
        top: -70%;
    }
    
    .speech_bubble:before{
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 60px solid #EBE9C3; /* Wider, flatter tail */
        transform: none; 
        margin-left: -10px;
    }
    .bubblebutton{
        height: 20%;
    }
    .returnMenu{
        font-size: 1.4em;
        width: 60%;
        height: 20%;
    }
    .numeracy_top{
        margin-top: 10%;
    }
    .numeracy_bottom{
        font-size: 2em;
    }
    #numeracy-quiz h1{
        margin-top: 10%;
    }
    .history_top{
        margin-top: 15%;
    }
    .history_bottom{
        font-size: 2em;
        margin-top: 5%;
    }
    #history-options-container input[type="checkbox"] {
        margin-right: 10%;
        zoom: 6;
    }
    #history-options-container{
        display: flex;
        flex-direction: column;
    }
    #history-feedback{
        font-size: 2em !important;
    }
    #history-options-container label {
        display: flex;
        align-items: center;
        gap: 100px; 
        width: 100%;
        white-space: nowrap;
      }
    .literacy_top{
        margin-top: 15%;
    }
    .literacy_astro{
        width: 70%;
    }
    .literacy_bottom{
        font-size: 2em;
    }
    .wellbeing_top{
        margin-top: 10%;
    }
    .wellbeing_bottom{
        font-size: 1.8em;
    }
    #drag-drop-feedback{
        font-size: 2em !important;
    }
    #health-wellbeing-answer{
        font-size: 1em;
        margin-bottom: 300px;
    }
    #health-wellbeing-feedback{
        margin-top: 7%;

    }
    #health-wellbeing-options-container {
        margin-bottom: -10%;
    }
    #health-drag-drop-zone{
        width: 150%;
        height: 30%;
        margin-left: -25%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .draggable-choice{
        background-color: brown;
        border:#EBE9C3 solid 3px;
        color:#EBE9C3;
        text-align: center;
        padding: 10px;
        margin: 5px;
        cursor: grab;
        user-select: none;
        touch-action: manipulation;
        margin-bottom: 7%;
        padding: 3%;
        font-size: 1.5em;
        width: 1000px;
    }
    #health-drag-drop-zone{
        margin-bottom: 30%;
    }
    .awareness_top{
        margin-top: 15%;
    }
    .awareness_bottom{
        font-size: 2em;
    }
    #drag-drop-dropzone{
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .drag-item{
        margin-bottom: 7%;
        padding: 3%;
        font-size: 1.5em; 
    }
    input[type="radio"] {
        zoom: 6;
      }
    input[type="checkbox"] {
        zoom: 6!important;
    }
    #user-answer{
        font-size: 1.5em;
    }
}



