*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/media/space-background.png);
    background-position: top;
}


.welcome_back_message{
    font-size: 2em;
    color: #EBE9C3;
    margin-top: 10%;
    position: relative;
    animation-name: message;
    animation-duration: 1s;
    animation-timing-function: linear;
    
}
/* Animations for heading and 5 menu selections fading in every 1s */
.quiz_heading{
    animation: fadeIn 1s;
}
.question1_label, .question1_box{
    animation: fadeIn 2s;
}
.question2_label, .question2_box{
    animation: fadeIn 3s;
}
.question3_label, .question3_box{
    animation: fadeIn 4s;
}
.question4_label, .question4_box{
    animation: fadeIn 5s;
}
.question5_label, .question5_box{
    animation: fadeIn 6s;
}

@keyframes message{
    from{left:200px;}
    to{left:0px}
}
@keyframes fadeIn{
    0%{opacity:0;}
    100%{opacity:1;}
}